<div class="background"></div>
<div class="InnerContainer">
  <div class="top">
    <p style="padding: 0; margin: 0; font-size: 16px; font-weight: 600;margin-top: 15px;">WELCOME TO THE</p>
    <div class="top1">
      <p style="font-size: 37px; font-weight: 900; padding: 4px;margin: 2px;margin-left: 0;margin-top: 15px;">WARRANTY
      </p>
      <p
        style="font-size: 37px; font-weight: 900; padding: 4px;margin: 2px; color: #4050B5;margin-left: 0;margin-top: 10px;">
        MANAGEMENT SYSTEM</p>
    </div>
    <div class="top2">
      <p style="font-size: 14px;color: #212121B2;margin-top: 15px;">Register products, track warranties, manage claims,
        all in one place. Log in to stay on top of every warranty with ease.</p>
    </div>
  </div>


  <div class="bottom">
    <p style="font-size: 14px;font-weight: 600; margin-bottom: 8px;">ACCOUNT SIGN UP</p>
    <form [formGroup]="HelpForm" (ngSubmit)="onSubmit()">
      <p>Username</p>
      <input type="text" formControlName="username" placeholder="Username" />
      <div *ngIf="HelpForm.get('username')?.invalid && HelpForm.get('username')?.touched" class="error">
        Username should be at least 5 characters
      </div>

      <p>Password</p>
      <input type="password" formControlName="password" placeholder="Password" />
      <div *ngIf="HelpForm.get('password')?.invalid && HelpForm.get('password')?.touched" class="error">
        Password should be at least 8 characters
      </div>

      <p>Confirm Password</p>
      <input type="password" formControlName="confirmpassword" placeholder="Confirm Password" />
      <div
        *ngIf="HelpForm.get('password')?.value !== HelpForm.get('confirmpassword')?.value && HelpForm.get('confirmpassword')?.touched"
        class="error">
        Passwords do not match!
      </div>

      <div class="bottom1">
        <div style="display: flex;">
          <div>Already have an account?</div>
          <div class="sign" routerLink="/signin" style="cursor: pointer;">Sign In</div>
        </div>
        <button type="submit"
          [disabled]="HelpForm.invalid || (HelpForm.get('password')?.value !== HelpForm.get('confirmpassword')?.value)"
          [ngClass]="{'btninv': HelpForm.invalid || (HelpForm.get('password')?.value !== HelpForm.get('confirmpassword')?.value)}">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>