button{
    border: none;
    background-color: #4050B5;
    border-radius: 10px;
    color: white;
    gap: 10px;
    font-size: 14px;
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    cursor: pointer;
}
.mainContainer{
    width: 100%;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.bottom{
    margin-top: 30px;
    width: 74vw;
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    height: 6vh;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.bottom p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #4050B5;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-right: 10px;
  width: 430px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content input,
.modal-content select,
.modal-content button {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-content button {
  background: #4050b5;
  color: white;
  cursor: pointer;
  border: none;
}

.modal-content button:hover {
  background: #2f3a8a;
}

.close {
  cursor: pointer;
  font-size: 34px;
}
.close:hover {
  color: #ff0606;
}
.former {
  display: flex;
  flex-direction: column; 
  gap: 10px;             
}
.former input,
.former select,
.former button {
    width: 26vw;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.former button {
  background-color: #4050B5;
  color: white;
  cursor: pointer;
  border: none;
}

.former button:hover {
  background-color: #2f3b94;
}
